<script>
{{ if isset .Params "ghcommentid" }}
var ghUrl = "https://github.com/{{ .Site.Params.ghCommentsRepo }}/issues/{{ .Params.ghcommentid }}";
var ghApiUrl = "https://api.github.com/repos/{{ .Site.Params.ghCommentsRepo }}/issues/{{ .Params.ghcommentid }}/comments";

$("#gh-comments-list").append("<a class='issues-link'href='" + ghUrl + "'  target='_blank'>Comment via <span class='icon-github'/></a>");
{{ end }}

{{ if isset .Params "bbcommentid" }}
var bbUrl = "https://bitbucket.org/{{ .Site.Params.bbCommentsRepo }}/issues/{{ .Params.bbcommentid }}/"
var bbApiUrl = "https://api.bitbucket.org/2.0/repositories/{{ .Site.Params.bbCommentsRepo }}/issues/{{ .Params.bbcommentid }}/comments";

$("#gh-comments-list").append("<a class='issues-link'href='" + bbUrl + "'  target='_blank'>Comment via <span class='icon-bitbucket'/></a>");
{{ end }}

document.addEventListener('DOMContentLoaded', function () {
  var renderComments = function(comments) {
    comments.sort(function(first, second) {
      return first.createdAt - second.createdAt;
    });

    var commentsList = document.getElementById('gh-comments-list');
    comments.forEach(function(comment) {
      var t = `
        <div class='gh-comment'>
          <div class='gh-comment-header'>
            <img src='${comment.user.avatarUrl}' width='24px'>
            <b><a href='${comment.user.profileUrl}'>${comment.user.username}</a></b>
            posted via ${comment.channel} at
            <a href="${comment.url}" rel="noopener noreferrer" target="_blank">
              <em>${comment.createdAt.toUTCString()}</em>
            </a>
          </div>
          <div id='gh-comment-hr'></div>
          ${comment.body}
        </div>
      `;
      commentsList.insertAdjacentHTML('beforeend', t);
    });
  };

  var fetchBbComments = function() {
    if (typeof bbUrl === 'undefined' || bbUrl === null) {
      return Promise.resolve([]);
    }
    return fetch(bbApiUrl, {
      headers: {"Content-Type": "application/json"}
    })
    .then(function(response) {
      if (!response.ok) throw new Error('Network response was not ok');
      return response.json();
    })
    .then(function(bbComments) {
      return bbComments.values.map(function(comment) {
        return {
          createdAt: new Date(comment.created_on),
          user: {
            avatarUrl: comment.user.links.avatar.href,
            profileUrl: comment.user.links.html.href,
            username: comment.user.nickname
          },
          url: comment.links.html,
          body: comment.content.html,
          channel: "BitBucket"
        };
      });
    })
    .catch(function() {
      return [];
    });
  };

  var fetchGhComments = function() {
    if (typeof ghUrl === 'undefined' || ghUrl === null) {
      return Promise.resolve([]);
    }
    return fetch(ghApiUrl, {
      headers: {Accept: "application/vnd.github.v3.html+json"}
    })
    .then(function(response) {
      if (!response.ok) throw new Error('Network response was not ok');
      return response.json();
    })
    .then(function(ghComments) {
      return ghComments.map(function(comment) {
        return {
          createdAt: new Date(comment.created_at),
          user: {
            avatarUrl: comment.user.avatar_url,
            profileUrl: comment.user.html_url,
            username: comment.user.login
          },
          url: comment.html_url,
          body: comment.body_html,
          channel: "GitHub"
        };
      });
    })
    .catch(function() {
      return [];
    });
  };

  Promise.all([fetchGhComments(), fetchBbComments()]).then(function(results) {
    var allComments = results[0].concat(results[1]);
    renderComments(allComments);
  });
});
</script>
