<script>
{{ if isset .Params "ghcommentid" }}
var ghUrl = "https://github.com/{{ .Site.Params.ghCommentsRepo }}/issues/{{ .Params.ghcommentid }}";
var ghApiUrl = "https://api.github.com/repos/{{ .Site.Params.ghCommentsRepo }}/issues/{{ .Params.ghcommentid }}/comments";

$("#gh-comments-list").append("<a class='issues-link'href='" + ghUrl + "'  target='_blank'>Comment via <span class='icon-github'/></a>");
{{ end }}

{{ if isset .Params "bbcommentid" }}
var bbUrl = "https://bitbucket.org/{{ .Site.Params.bbCommentsRepo }}/issues/{{ .Params.bbcommentid }}/"
var bbApiUrl = "https://api.bitbucket.org/2.0/repositories/{{ .Site.Params.bbCommentsRepo }}/issues/{{ .Params.bbcommentid }}/comments";

$("#gh-comments-list").append("<a class='issues-link'href='" + bbUrl + "'  target='_blank'>Comment via <span class='icon-bitbucket'/></a>");
{{ end }}


$(document).ready(function () {
  var renderComments = function(comments) {
    comments.sort(function(first, second) {
      return first.createdAt - second.createdAt;
    });

    $.each(comments, function(i, comment) {
      var t = "<div class='gh-comment'>";
      t += "<div class='gh-comment-header'><img src='" + comment.user.avatarUrl + "' width='24px'>";
      t += "<b><a href='" + comment.user.profileUrl + "'>" + comment.user.username + "</a></b>";
      t += " posted via "+ comment.channel + " at ";
      t += "<em>" + comment.createdAt.toUTCString() + "</em></div>";
      t += "<div id='gh-comment-hr'></div>";
      t += comment.body;
      t += "</div>";
      $("#gh-comments-list").append(t);
    });
  };

  var fetchBbComments = function(existingComments) {
    if (typeof bbUrl === 'undefined' || bbUrl === null) {
      renderComments(existingComments)
      return;
    }

    $.ajax(bbApiUrl, {
      headers: {"Content-Type": "application/json"},
      dataType: "json",
      success: function(bbComments) {
        comments = existingComments.concat($.map(bbComments.values, function(comment) {
          return {
            createdAt: new Date(comment.created_on),
            user: {
              avatarUrl: comment.user.links.avatar.href,
              profileUrl: comment.user.links.html.href,
              username: comment.user.username
            },
            body: comment.content.html,
            channel: "BitBucket"
          };
        }));

        renderComments(comments)
      },
      error: function() {
        renderComments(existingComments);
      }
    });
  };

  var fetchGhComments = function(callback) {
    if (typeof ghUrl === 'undefined' || ghUrl === null) {
      fetchBbComments([]);
      return;
    }

    $.ajax(ghApiUrl, {
      headers: {Accept: "application/vnd.github.v3.html+json"},
      dataType: "json",
      success: function(ghComments) {
        comments = $.map(ghComments, function(comment) {
          return {
            createdAt: new Date(comment.created_at),
            user: {
              avatarUrl: comment.user.avatar_url,
              profileUrl: comment.user.html_url,
              username: comment.user.login
            },
            body: comment.body_html,
            channel: "GitHub"
          };
        });

        callback(comments);
      },
      error: function() {
        callback([]);
      }
    });
  };

  fetchGhComments(fetchBbComments);
});
</script>
