<!-- Footer -->
<footer  itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <div >
    <div >
      <div >
        <ul >
          <li>
            <a href="https://twitter.com/sdqali">
              <span aria-hidden="true" class="icon-twitter"></span>
              <span class="sr-only">Twitter profile</span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/sdqali">
              <span aria-hidden="true" class="icon-linkedin"></span>
              <span class="sr-only">LinkedIn profile</span>
            </a>
            </a>
          </li>
          <li>
            <a href="https://github.com/sdqali">
              <span aria-hidden="true" class="icon-github"></span>
              <span class="sr-only">GitHub profile</span>
            </a>
          </li>
          <li>
            <a href="/index.xml">
              <span aria-hidden="true" class="icon-feed"></span>
              <span class="sr-only">Atom feed</span>
            </a>
          </li>
        </ul>
        <p class="copyright">&copy; All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

{{ partial "ga.snippet.html" . }}
{{ partial "cf.snippet.html" . }}
<link rel="stylesheet" href="/style.css"/>
