<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.snippet.html" . }}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header itemscope="itemscope" itemtype="http://schema.org/WPHeader">
      <div >
        <div >
          <div >
            <div >
              <h1>  {{ .Title }} </h1>
              <hr >
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div itemprop="mainContentOfPage"
         itemscope="itemscope" itemtype="http://schema.org/WebPageElement">
      <div >
        <div >
          {{ $totalCount := len .Data.Pages }}
          {{ range $index, $value := .Data.Pages }}
          {{ $count := sub $totalCount $index }}
          <article>
            <a href='{{ .Permalink }}'>
              <h2 >
                {{ .Title }}
              </h2>
            </a>
            <p > {{$count}} - {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
          </article>
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "footer.snippet.html" .}}
  </body>
</html>
