<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <meta name="description" content="{{ .Summary }}" />
  {{ with .Params.tags }}
    <meta content="{{ delimit . ", " }}" name="keywords">
  {{ end }}

  <!--Twitter Summary Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sdqali">
  <meta name="twitter:creator" content="@sdqali">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Summary }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Params.image }}">

  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Summary }}" itemprop="description"/>
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Params.image }}" />
  <body>

    {{ partial "header.snippet.html" . }}



		<!-- Page Header -->
		<!-- Set your background image for this header on the line below. -->
		<header itemscope="itemscope" itemtype="http://schema.org/WPHeader">
				<div >
					<h1> {{ .Title }}</h1>
					<span >{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
					<div >
						<span  aria-hidden="true"></span>
						{{ range $index, $tag := .Params.tags }}
						{{ if gt $index 0 }}, {{ end }} <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
						{{ end }}
					</div>
				</div>
    </header>


    <!-- Post Content -->
    <article>
      <div itemprop="mainContentOfPage"
           itemscope="itemscope" itemtype="http://schema.org/WebPageElement">
        <div>
          {{ .Content }}
        </div>
        <aside>
          {{ partial "comments.snippet.html" }}
        </aside>
        <aside>
          <h3>If you liked this post, you'll also like...</h3>
          <ul class="related-posts">
            {{ $page_link := .Permalink }}
            {{ $tags := .Params.tags }}
            {{ range .Site.Pages }}
            {{ $page := . }}
            {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
            {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
            <li><a href="{{ (print $page.Permalink "?utm_source=site&utm_medium=related" )}}">{{ $page.Title }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </aside>
      </div>
    </article>

    <hr>

    {{ partial "footer.snippet.html" . }}
  </body>
</html>
