<!-- Footer -->
<footer  itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <div >
    <div >
      <div >
        <ul >
          <li>
            <a href="https://twitter.com/sdqali">
              <span >Twitter</span>
              <span  aria-hidden="true">
                <span ></span>
                <span ></span>
              </span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/115900084932734914678">
              <span >Google+</span>
              <span  aria-hidden="true">
                <span ></span>
                <span ></span>
              </span>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/in/sdqali">
              <span >LinkedIn</span>
              <span  aria-hidden="true">
                <span ></span>
                <span ></span>
              </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/sdqali">
              <span >GitHub</span>
              <span  aria-hidden="true">
                <span ></span>
                <span ></span>
              </span>
            </a>
          </li>
          <li>
            <a href="/index.xml">
              <span >Atom Feed</span>
              <span  aria-hidden="true">
                <span ></span>
                <span ></span>
              </span>
            </a>
          </li>
        </ul>
        <p >&copy; All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

{{ partial "ga.snippet.html" . }}
<link rel="stylesheet" href="/style.css"/>
