<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.snippet.html" . }}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header itemscope="itemscope" itemtype="http://schema.org/WPHeader">
      <div >
        <div >
          <div >
            <div >
              <h1> {{ .Site.Title }}</h1>
              <hr >
              <span >by {{.Site.Params.author}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div itemprop="mainContentOfPage"
         itemscope="itemscope" itemtype="http://schema.org/WebPageElement">
      <div >
        <div >
          <p>The page you are looking for does not exist. The archives are <a href="/blog">here</a>.</p>
        </div>
      </div>
    </div>

    {{ partial "footer.snippet.html" .}}
  </body>
</html>
