/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background-color: #fbeddd;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* cyrillic */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(/fonts/lora/XXbc_aQtUtjJrkp7pYGEKhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(/fonts/lora/tHQOv8O1rd82EIrTHlzvmhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(/fonts/lora/rAXKWvABQNHjPUk26ixVvvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(/fonts/lora/yNp9UcngimMxgyQxKMt1QVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(/fonts/lora/sNDli5YcfijR40K0xz3mZVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(/fonts/lora/mlTYdpdDwCepOR2s5kS2CwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(/fonts/lora/fCoJt7FyRSVNwXkC_nvEPX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(/fonts/lora/sGaC9t9HYN4ok_W_UWzQF3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(/fonts/lora/_MYF_5lLoOGnzKiQsUc_vevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(/fonts/lora/66KG1MDzU5Zo36weZ_yx-YX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(/fonts/lora/1wR3aOJ69QwyZ9B-WDmIqYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(/fonts/lora/_IxjUs2lbQSu0MyFEAfa7ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/fonts/sourcecodepro/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/fonts/sourcecodepro/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(/fonts/cutivemono/m8JWjfRfY7WVjVi2E-K9H6RMTm6o39ucNvc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(/fonts/cutivemono/m8JWjfRfY7WVjVi2E-K9H6RCTm6o39uc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* minimal font awesome using icomoon */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uw9uyb');
  src:  url('fonts/icomoon.eot?uw9uyb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uw9uyb') format('truetype'),
    url('fonts/icomoon.woff?uw9uyb') format('woff'),
    url('fonts/icomoon.svg?uw9uyb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-bitbucket:before {
  content: "\e904";
}
.icon-feed:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
/* end of icomoon */

.footnotes a {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: flex;
    margin: auto;
}

body {
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  color: #000000;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  body {
    width: 1170px;
    header h1 {
      font-size: 70px;
    }
  }
}

@media (min-width: 992px) {
  body {
    width: 970px;
    header h1 {
      font-size: 60px;
    }
  }
}

@media (min-width: 768px) {
  body {
    width: 750px;
    header h1 {
      font-size: 50px;
    }
  }
}

.related-posts > li:nth-of-type(n+6) {
  display: none;
}

article + article {
  margin-top: 40px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h1, h2, h3 {
  line-height: 1.2;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #1478a0;
}

a:hover {
  color: #2bb0ee;
}

p, ol, ul {
  line-height: 1.55em;
}

article > h1 {

}

article aside {
  margin-top: 25px;
}

header {
  padding-top: 60px;
  padding-bottom: 65px;
  text-align: center;
}

header h1 {
  text-decoration: none;
}

pre {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #f0f3f3;
  display: block;
  padding: 20px;
  line-height: 1.4em;
  font-size: 83%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
}

code {
	font-family: "Source Code Pro",monospace;
}

section.article-header {
  margin-bottom: 20px;
}

section.article-header h3 {
  font-size: 70%;
  margin-top: 10px;
}

p code, ol code, ul code {
  padding: 2px 4px;
	font-size: 92%;
  background-color: #f0f3f3;
  border-radius: 4px;
}

header h1 {
    margin-bottom: 33px;
}

blockquote {
  border-left: 5px solid #f0f3f3;
  margin: 1.5em 0px;
  padding: 0.5em 25px;
  line-height: 1.5;
  font-style: italic;
}

blockquote p {
    margin-top: 20px;
}

article p.listing {
  margin-top: 12px;
}

article p {
  margin-top: 30px;
}

article h2, article h3, article h4 {
  margin-top: 30px;
}

article ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

article ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

sup {
  top: -.5em;
  text-decoration: underline;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

nav {
  margin-top: 30px;
}

nav li {
  padding-right: 15px;
  padding-left: 15px;
}

footer li {
  padding-right: 10px;
  padding-left: 10px;
}

nav li, footer li {
  float: left;
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

nav, footer {
  text-align: center;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

footer ul, nav ul {
  display: inline-block;
}

footer p {
  display: block;
}

a.tag {
  background: #44c5d6;
  color: #FFFFFF;
  padding: 2px 4px;
}

.tag-list {
  margin-top: 10px;
}

.gh-comment-header {
    font-size: 85%;
}

.gh-comment-header em {
	font-style: italic;
}


.gh-comment-button {
  color: #ffffff;
  font-family: Lora,'Times New Roman',serif;
	font-size: 20px;
  background: #0681a7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	margin-bottom: 10px;
}

.gh-comment-button:hover {
  background: #2588a7;
  text-decoration: none;
}

.issues-link  + .issues-link {
	margin-left: 40px;
}

.gh-comment p {
	margin-top: 10px;
}

.gh-comment {
	margin-top: 30px;
}

.gh-comment-header img {
	margin-right: 10px;
}

#gh-comments-list {
    border: 1px solid #1f74ad;
    padding: 20px;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 20px;
}

svg {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: block;
}

a.read-more {
  text-align: right;
  display: block;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 22px;
}

h5 {
  font-weight: bold;
  margin-top: 12px;
}

figcaption p {
  text-align: center;
}

figure {
  margin-top: 1.5em;
}

details {
  margin-top: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

